#page {
    background-color: #b5b2b2d0;
}


#body {
    border-radius: 10px;
    margin-top: 100px;
    height: 300px;
    width: 300px;

}

#bodytable 
{
    border-radius:10px;
    margin-top:100px;
    height: 300px;
    width: 400px;
}


#bodyServiceType {
    border-radius: 10px;
    margin-top: 100px;
    height: 300px;
    width: 50%;
}

#logo {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#title {
    font-size: 25px;
    font-family: Trebuchet MS;
    font-style: normal;
    color: #020202d0;
}

#servicetype {
    margin-bottom: 30px;
}

#label {
    font-size: 13px;
    color: rgb(150, 150, 150);
}